# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
dagster_home/storage/0ba2b6bd-b4e9-4b29-a768-41455281c558/compute_logs/oqmtajgn.complete
dagster_home/storage/0ba2b6bd-b4e9-4b29-a768-41455281c558/compute_logs/oqmtajgn.err
dagster_home/storage/0ba2b6bd-b4e9-4b29-a768-41455281c558/compute_logs/oqmtajgn.out
dagster_home/storage/1043abaf-ad9d-457a-b239-6076ddacd712/compute_logs/glqekgoh.complete
dagster_home/storage/1043abaf-ad9d-457a-b239-6076ddacd712/compute_logs/glqekgoh.err
dagster_home/storage/1043abaf-ad9d-457a-b239-6076ddacd712/compute_logs/glqekgoh.out
dagster_home/storage/33459afa-18fe-4698-9afd-44c9e66c3f33/compute_logs/xytrrwju.complete
dagster_home/storage/33459afa-18fe-4698-9afd-44c9e66c3f33/compute_logs/xytrrwju.err
dagster_home/storage/33459afa-18fe-4698-9afd-44c9e66c3f33/compute_logs/xytrrwju.out
dagster_home/storage/34de9fa7-35ca-4bb2-87c1-d65d31cc629b/compute_logs/yycikxdw.complete
dagster_home/storage/34de9fa7-35ca-4bb2-87c1-d65d31cc629b/compute_logs/yycikxdw.err
dagster_home/storage/34de9fa7-35ca-4bb2-87c1-d65d31cc629b/compute_logs/yycikxdw.out
dagster_home/storage/4bf3807c-9d20-4cac-9b2b-0749bf6d6b67/compute_logs/vxlcfgjq.complete
dagster_home/storage/4bf3807c-9d20-4cac-9b2b-0749bf6d6b67/compute_logs/vxlcfgjq.err
dagster_home/storage/4bf3807c-9d20-4cac-9b2b-0749bf6d6b67/compute_logs/vxlcfgjq.out
dagster_home/storage/5e265621-43ed-457d-b113-878441931947/compute_logs/klvmiais.complete
dagster_home/storage/5e265621-43ed-457d-b113-878441931947/compute_logs/klvmiais.err
dagster_home/storage/5e265621-43ed-457d-b113-878441931947/compute_logs/klvmiais.out
dagster_home/storage/60ecbde7-400a-4bf7-b087-16daf03c8f63/compute_logs/qlezcwer.complete
dagster_home/storage/60ecbde7-400a-4bf7-b087-16daf03c8f63/compute_logs/qlezcwer.err
dagster_home/storage/60ecbde7-400a-4bf7-b087-16daf03c8f63/compute_logs/qlezcwer.out
dagster_home/storage/6da05401-cc6e-4ebf-85da-5236d4e300da/compute_logs/vtsjmtnc.complete
dagster_home/storage/6da05401-cc6e-4ebf-85da-5236d4e300da/compute_logs/vtsjmtnc.err
dagster_home/storage/6da05401-cc6e-4ebf-85da-5236d4e300da/compute_logs/vtsjmtnc.out
dagster_home/storage/703e6310-0066-47ae-8dfb-c6375729ee26/compute_logs/ejmwihay.complete
dagster_home/storage/703e6310-0066-47ae-8dfb-c6375729ee26/compute_logs/ejmwihay.err
dagster_home/storage/703e6310-0066-47ae-8dfb-c6375729ee26/compute_logs/ejmwihay.out
dagster_home/storage/743689e4-0507-4365-9ac5-cadc24cf011e/compute_logs/cabmezqy.complete
dagster_home/storage/743689e4-0507-4365-9ac5-cadc24cf011e/compute_logs/cabmezqy.err
dagster_home/storage/743689e4-0507-4365-9ac5-cadc24cf011e/compute_logs/cabmezqy.out
dagster_home/storage/8366ad90-6a9a-4f88-8b8a-b839b61aecd3/compute_logs/wvdmtghf.complete
dagster_home/storage/8366ad90-6a9a-4f88-8b8a-b839b61aecd3/compute_logs/wvdmtghf.err
dagster_home/storage/8366ad90-6a9a-4f88-8b8a-b839b61aecd3/compute_logs/wvdmtghf.out
dagster_home/storage/851766b5-1b02-4d68-b9d3-9c15f391761f/compute_logs/phpnrihr.complete
dagster_home/storage/851766b5-1b02-4d68-b9d3-9c15f391761f/compute_logs/phpnrihr.err
dagster_home/storage/851766b5-1b02-4d68-b9d3-9c15f391761f/compute_logs/phpnrihr.out
dagster_home/storage/8a5a0466-45fe-4e31-bf5c-87899bbb2756/compute_logs/vrbirbui.complete
dagster_home/storage/8a5a0466-45fe-4e31-bf5c-87899bbb2756/compute_logs/vrbirbui.err
dagster_home/storage/8a5a0466-45fe-4e31-bf5c-87899bbb2756/compute_logs/vrbirbui.out
dagster_home/storage/9086744f-74ed-44bf-840b-9e8bd8185571/compute_logs/ipufanuw.complete
dagster_home/storage/9086744f-74ed-44bf-840b-9e8bd8185571/compute_logs/ipufanuw.err
dagster_home/storage/9086744f-74ed-44bf-840b-9e8bd8185571/compute_logs/ipufanuw.out
dagster_home/storage/9420bdb7-4eb1-420e-8c28-ad858c3750f6/compute_logs/eagqatsb.complete
dagster_home/storage/9420bdb7-4eb1-420e-8c28-ad858c3750f6/compute_logs/eagqatsb.err
dagster_home/storage/9420bdb7-4eb1-420e-8c28-ad858c3750f6/compute_logs/eagqatsb.out
dagster_home/storage/a4f94aaf-82fb-4f22-b5d8-d75f1204088c/compute_logs/hxtokqmh.complete
dagster_home/storage/a4f94aaf-82fb-4f22-b5d8-d75f1204088c/compute_logs/hxtokqmh.err
dagster_home/storage/a4f94aaf-82fb-4f22-b5d8-d75f1204088c/compute_logs/hxtokqmh.out
dagster_home/storage/a6848a9c-90fa-4c17-900d-6f0ea50306d9/compute_logs/zbgnqfef.complete
dagster_home/storage/a6848a9c-90fa-4c17-900d-6f0ea50306d9/compute_logs/zbgnqfef.err
dagster_home/storage/a6848a9c-90fa-4c17-900d-6f0ea50306d9/compute_logs/zbgnqfef.out
dagster_home/storage/c98aeb62-fb2a-4ff4-98c6-07e35cd06678/compute_logs/oorkdbbd.complete
dagster_home/storage/c98aeb62-fb2a-4ff4-98c6-07e35cd06678/compute_logs/oorkdbbd.err
dagster_home/storage/c98aeb62-fb2a-4ff4-98c6-07e35cd06678/compute_logs/oorkdbbd.out
dagster_home/storage/ce6b6b62-8bc5-43fb-b1c6-53d3a7257a52/compute_logs/eeqangcc.complete
dagster_home/storage/ce6b6b62-8bc5-43fb-b1c6-53d3a7257a52/compute_logs/eeqangcc.err
dagster_home/storage/ce6b6b62-8bc5-43fb-b1c6-53d3a7257a52/compute_logs/eeqangcc.out
dagster_home/storage/cf3d28ed-3f65-433c-b294-c6ea42b7bd6d/compute_logs/igxcgjxy.complete
dagster_home/storage/cf3d28ed-3f65-433c-b294-c6ea42b7bd6d/compute_logs/igxcgjxy.err
dagster_home/storage/cf3d28ed-3f65-433c-b294-c6ea42b7bd6d/compute_logs/igxcgjxy.out
dagster_home/storage/d15aab85-68ab-4b6a-bd42-673120e44440/compute_logs/jbcpeznw.complete
dagster_home/storage/d15aab85-68ab-4b6a-bd42-673120e44440/compute_logs/jbcpeznw.err
dagster_home/storage/d15aab85-68ab-4b6a-bd42-673120e44440/compute_logs/jbcpeznw.out
dagster_home/storage/d60726b5-34b9-4821-abcc-9167ef8c2e21/compute_logs/azcpykst.complete
dagster_home/storage/d60726b5-34b9-4821-abcc-9167ef8c2e21/compute_logs/azcpykst.err
dagster_home/storage/d60726b5-34b9-4821-abcc-9167ef8c2e21/compute_logs/azcpykst.out
dagster_home/storage/dcc5c8b7-c5fe-4a80-b477-cef527a40d82/compute_logs/lwkhpxkt.complete
dagster_home/storage/dcc5c8b7-c5fe-4a80-b477-cef527a40d82/compute_logs/lwkhpxkt.err
dagster_home/storage/dcc5c8b7-c5fe-4a80-b477-cef527a40d82/compute_logs/lwkhpxkt.out
dagster_home/storage/e52a11fa-00da-4ac3-a512-434814906558/compute_logs/dtzqtibk.complete
dagster_home/storage/e52a11fa-00da-4ac3-a512-434814906558/compute_logs/dtzqtibk.err
dagster_home/storage/e52a11fa-00da-4ac3-a512-434814906558/compute_logs/dtzqtibk.out
dagster_home/storage/e5a9f301-b5cd-465d-a3d9-402c9175ffc8/compute_logs/gtlvcghq.complete
dagster_home/storage/e5a9f301-b5cd-465d-a3d9-402c9175ffc8/compute_logs/gtlvcghq.err
dagster_home/storage/e5a9f301-b5cd-465d-a3d9-402c9175ffc8/compute_logs/gtlvcghq.out
dagster_home/storage/e5f09488-cf1b-4450-b336-b795edb498b0/compute_logs/evzhawxs.complete
dagster_home/storage/e5f09488-cf1b-4450-b336-b795edb498b0/compute_logs/evzhawxs.err
dagster_home/storage/e5f09488-cf1b-4450-b336-b795edb498b0/compute_logs/evzhawxs.out
dagster_home/storage/e69f9b42-6a3d-4595-94d0-ffab11d3a7f7/compute_logs/eduiyqds.complete
dagster_home/storage/e69f9b42-6a3d-4595-94d0-ffab11d3a7f7/compute_logs/eduiyqds.err
dagster_home/storage/e69f9b42-6a3d-4595-94d0-ffab11d3a7f7/compute_logs/eduiyqds.out
dagster_home/storage/e9915110-54db-4e11-974e-c7f0e00468e7/compute_logs/jgemtash.complete
dagster_home/storage/e9915110-54db-4e11-974e-c7f0e00468e7/compute_logs/jgemtash.err
dagster_home/storage/e9915110-54db-4e11-974e-c7f0e00468e7/compute_logs/jgemtash.out
dagster_home/storage/fbaa015f-b3e6-4354-b919-1ca80b99d1a2/compute_logs/efwqrccd.complete
dagster_home/storage/fbaa015f-b3e6-4354-b919-1ca80b99d1a2/compute_logs/efwqrccd.err
dagster_home/storage/fbaa015f-b3e6-4354-b919-1ca80b99d1a2/compute_logs/efwqrccd.out
dagster_home/storage/fc3b3042-d659-4713-b4b7-e9f54f352623/compute_logs/tvzhxarw.complete
dagster_home/storage/fc3b3042-d659-4713-b4b7-e9f54f352623/compute_logs/tvzhxarw.err
dagster_home/storage/fc3b3042-d659-4713-b4b7-e9f54f352623/compute_logs/tvzhxarw.out
dagster_home/storage/ff2d0ef9-138b-4eca-a1aa-79423e6f496b/compute_logs/sehqhamy.complete
dagster_home/storage/ff2d0ef9-138b-4eca-a1aa-79423e6f496b/compute_logs/sehqhamy.err
dagster_home/storage/ff2d0ef9-138b-4eca-a1aa-79423e6f496b/compute_logs/sehqhamy.out
dagster_home/storage/ff2d0ef9-138b-4eca-a1aa-79423e6f496b/compute_logs/yvxnhbmo.complete
dagster_home/storage/ff2d0ef9-138b-4eca-a1aa-79423e6f496b/compute_logs/yvxnhbmo.err
dagster_home/storage/ff2d0ef9-138b-4eca-a1aa-79423e6f496b/compute_logs/yvxnhbmo.out
dagster_home/storage/fff432bc-a8da-496d-b250-3e6c10ed77a0/compute_logs/kpqpkjjx.complete
dagster_home/storage/fff432bc-a8da-496d-b250-3e6c10ed77a0/compute_logs/kpqpkjjx.err
dagster_home/storage/fff432bc-a8da-496d-b250-3e6c10ed77a0/compute_logs/kpqpkjjx.out
